<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134662784995-8d2e6n0fc7cd2edeurj9mb19afa5nolc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134662784995-8d2e6n0fc7cd2edeurj9mb19afa5nolc</string>
	<key>API_KEY</key>
	<string>AIzaSyB6rW_UOFUwszgTKCOgBE5jzRoDe6BQ3bk</string>
	<key>GCM_SENDER_ID</key>
	<string>134662784995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.anajulia.EmailPasswordLogin</string>
	<key>PROJECT_ID</key>
	<string>emailpaogin-f69c4</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpaogin-f69c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134662784995:ios:b83b1d3edec2f5ac1a42d6</string>
</dict>
</plist>